@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    z-index: -999;
    background-color: #F5F5F5;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    position: relative;
}

section .projects {
  overflow: hidden;
}

section .about {
    width: 100%;
    height: 100vh;
}

.about .svg {
  transition: all 0.2s ease-in;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: auto;
    overflow: hidden;

}

.svg::before {
  transition: all 0.2s ease-in;
  content: "";
  height: 108vh;
  width: 115vh;
  position: absolute;
  top: -14%;
  left: -15%;
  border-radius: 50%;
  border: 4.8vw solid rgba(255, 255, 255, 0.102);
}

.header {
  position: absolute;
  top: 0;
  left: e;
  width: 100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.logo {
  font-size: 2.2rem;
  color : white;
  text-decoration: none;
}

.navbar a {
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  margin-left: 2.5rem;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color : #fff;
  cursor: pointer;
  display: none;
}

#name {
  font-family: 'Pacifico', cursive;
}

.point{
  font-family: 'Poppins', sans-serif; 
  text-decoration: none;
  letter-spacing: 1.44px;
  padding: 0 1.75vw;
}

  /* ================= BREAKPOINTS ================= */

@media (max-width: 1049px) {
  .header {
  padding: 1.3rem 5%;
  }

  .navbar a {
  font-size: 1.15rem;
  }

  #name {
    font-size: 1.8rem;
  }

}

@media (max-width: 450px) {
  #name {
    font-size: 1.1rem;
  }

  .icons {
    font-size: 2rem;
  }

  .mainarea {
    margin-bottom: 2.5vw;
  }

  .btn {
    margin-top: 2.4vw;
  }

}

  @media (max-width: 992px) {
  .header {
  padding: 1.3rem 5%;
  }
}

@media (max-width: 750px) { 
  #name {
    font-size: 1.45rem;
  }

  .icons {
    font-size: 2.2rem;
  }
}

  @media (max-width: 910px) {

    .header {
      height: 4.5rem;
    }

  .icons {
  display: inline-flex;
  }

  #name {
    font-size: 1.7rem;
  }

  .icons {
    font-size: 2.5rem;
  }

  #check:checked~.icons #menu-icon {
    display: none;
  }

  .icons #close-icon {
    display: none;
  }

  #check:checked~.icons #close-icon {
    display: block;
  }

  .header::before {
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, .1);
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .1);
    transition: .3s ease-in-out;
  }

  #check:checked~.navbar {
    height: 14rem;
  }

  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: .3s ease;
    opacity: 0;
  }

  #check:checked~.navbar a {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(.15s * var(--i));
  }

}

.point{
    position: relative;
    text-decoration: none;
    letter-spacing: 1.44px;
    padding: 0 1.75vw;
}

.point:before{
    content: '';
    position: absolute;
    height: 4px;
    border-radius: 4px;
    background-color: #f5f5f5;
    top: 32px;
    left: 1.27rem;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.point.a::before{
    width: 70%;
}

.point.s::before{
    width: 66%;
}

.point:is(.p, .c)::before {
    width: 75.5%;
}

.point:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.img-container {
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 14.5vh;
  z-index: 1;
  width: 78vw;
  height: auto;
  position: absolute;
}
  
  .img-container img {
    margin-right: -6vw;
    width: 660px;
    height: 100%;
    display: block; 
  }  



.title {
    margin-top: -10%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 27vw;
    height: auto;
    font-family: 'Poppins', sans-serif;
    color: #F5F5F5;
}

.hello {
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.72px;
    line-height: normal;
}

.aviral {
    margin-top: -1.4%;
    font-weight: 700;
    color: #f5f5f5;
    font-size: 50px;
    letter-spacing: 0.15rem;
    line-height: normal;
    white-space: nowrap;
}

.front {
  margin-top: 2.1%;
  margin-bottom: 1.8%;
    font-weight: 500;
    font-size: 16.5px;
    letter-spacing: 1.2px;
    line-height: normal;
}

.cv {
    padding: 0.18vw 1.8vw 0.18vw 1.8vw;
    font-size: 16.5px;
    background: #f5f5f5;
    color: #4275FA;
    width: 150px;
    border-radius: 50px;
    border-color: #F5F5F5;
    border: 2px solid #F5F5F5;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}

.button {    
      
  margin-left: 6%;
    width: 30%;
    position: relative;
    text-align: center;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif; 
    transition: background 0.3s;
    border: 2px solid #F5F5F5;
    font-size: 1vw;
  }
  
  .button::before {
    position: absolute;
    color: #111;
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: calc(50% - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    font-size: 16.5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #f5f5f5;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #4275FA;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #F5F5F5;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  } 

.motion {
  height: 4vh;
  display: inline-flex;
  margin-top: 5%;
  /* height: auto; */
}

/* ================ SKILLS =================== */

section .skills {
  overflow: hidden;
}

.skillfull {
  transition: all 0.3s ease-in;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5vw 10vw 5vw 1vw;
}

.skillimg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.skillimg img {
  /* height: 84vh; */
  width: 100%;
  z-index: 999;
}

.content { 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.myskills {
  font-size: 20.625px;
  font-weight: 500;
  letter-spacing: 0.3vw;
  line-height: normal;
  color: #4275FA;
}

.expertise {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 0.72px;
  line-height: normal;
  color: #2E2D56;
}

.mainarea {
  margin-top: 34.65px;
  margin-bottom: 16.5px;
  font-size: 19.8px;
  font-weight: 500;
  letter-spacing: 0.1vw;
  line-height: normal;
  color: #18181A;
}

.description {
  font-size: 18.15px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: normal;
  color: #18181A;
}

.logos {
  margin-top: 80.85px;
  width: 693px;
}

.paragraph {
  font-size: 18.15px;
  font-weight: 400;
  letter-spacing: 0.72px;
  line-height: normal;
  color: #18181A;
  display: none;
}

/* ============= PROJECTS ============== */

section .projects {
  width: 100%;
  height: 100vh;
  
}

.page {
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100vh;
  margin-top: 33px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.heading {
  /* margin-top: 2vw; */
  width: 87vw;
  font-family: 'Poppins', sans-serif;
  font-size: 41.25px;
  font-weight: 700;
  color: #282938;
}

.card-container {
  transition: all 0.3s ease-in;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 3.1vw;
  flex-wrap: wrap;
}

.card {
  width : 445.5px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1.5vw;
}

.card img{
  width : 100%;
  align-self: stretch;
  flex-shrink: 0;
  height: 330px;
  position: relative; 
  object-fit: cover;
}
.card-content{
  padding : 26.4px;
}

.card-content h3{
  font-size: 24.75px;
  margin-bottom: 8px;
}
.card-content{
  color:#282938;
  font-size: 14.85px;
  Line-height: 1.3;
}

.card-content .btn{
  padding:6px 24px; 
}

.btn {
  margin-top: 0.8vw;
  font-family: inherit;
  font-size: 16.5px;
  background: #4275fa;
  color: #f5f5f5;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.btn svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.btn:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.btn:hover span {
  transform: translateX(5em);
}

.btn:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.parent {
  transition: all 0.3s ease-in;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-take {
  margin-top: 4.25vw;
  width: 75vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #282938;
}

.details {
  width: 47%;
}

.footer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
}

.rectangle {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 10vh;
  background: linear-gradient(98.94deg, rgba(66, 117, 250, 1.00) 0%,rgba(17, 2, 198, 0.87) 100%);
}

.info {
  height: 50vh;
  width: 47vw;
  display: flex;
  align-items: center;
}

.contact-body {
  display: flex;
}

form {
  display: block;
  margin-top: 0em;
}
.contact-body {
  display: flex;
}

.contact-body h3 {
  font-size: 16.5px;
  margin: 10px 0;
}

.contact-body input {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #282938;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 40vw;
  resize: none;
}

.contact-body textarea {
  font-size: 1vw;
  padding: 0.7em;
  outline: none;
  color: #282938;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

#mail-me {
  cursor: pointer;
  background-color: #4275fa;
  transition: .2s ease all;
  border: none;
  padding: 10px 25px;
  font-size: 1vw;
  color: #f5f5f5;
  border-radius: 25%;
  width: 10vw;
  margin-top: 50px;
}

.head {
  transition: transform 0.3s ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactme {
  font-size: 20.625px;
  font-weight: 400;
  color: #4275fa;;
  margin-top: 2.5vw;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.3vw;
}

.touch {
  margin-top: 0.5vw;
  font-size: 33px;
  font-weight: 600;
  color: #2e2d56;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.3vw;
}

.Btn {
  margin-top: 2vw;
  font-size: 16.5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  border: none;
  padding: 0px 20px;
  background-color: #4275fa;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .3s;
}

.Btn .svg {
  transform: scaleX(0);
  width: 1.3vw;
  position: absolute;
  right: 0;
  fill: white;
  transition-duration: .3s;
}

.Btn:hover {
  color: transparent;
}

.Btn:hover svg {
  transform: scaleX(1);
  right: 44%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: .3s;
}

.Btn:active {
  transform: translate(3px , 3px);
  transition-duration: .3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

.dcard {
  transition-duration: .3s;
  width: 100%;
  height: 50vh;
  border-radius: 0px 15px 15px 0px;
  background: #294ba1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.contact-info {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.72px;
  font-size: 24.75px;
}

.dtext {
  flex-grow: 1;
  padding: 2vw 2vw 0 5vw;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-size: 19.2px;
}

.subtitle {
  margin-top: 1vw;
  font-family: 'Poppins', sans-serif;
  font-size: 16.5px;
  font-weight: 300; 
  color: aliceblue;
}

.dicons {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 250px;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.dbtn {
  border: none;
  width: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dsvg-icon {
  width: 25px;
  height: 25px;
  stroke: rgb(38, 59, 126);
}

.dcard::before {
  content: "";
  height: 50vh;
  width: 50vh;
  position: absolute;
  top: 16%;
  left: -20%;
  border-radius: 50%;
  border: 3vw solid rgba(255, 255, 255, 0.102);
  transition: all 0.8s ease;
}

.dcard:hover::before {
  border: 1.2vw solid rgba(255, 255, 255, 0.102);
  width: 10vh;
  height: 10vh;
  top: 25%;
  left: 65%;
  filter: blur(0rem);
}

.dname {
  font-weight: 600;
  letter-spacing: 0.1vw;
  display: flex;
  align-items: center;
  margin-top: 5vh;
}

.daccount {
  height: 3.6vh;
  margin-right: 1vw;
  /* width: 3.6vw; */
}

.dsmail {
  height: 3.8vh;
  margin-right: 1vw;
  /* width: 3.6vw; */
}


.dmail {
  font-weight: 600;
  letter-spacing: 0.1vw;
  margin-top: 4vh;
  display: flex;
  align-items: center;
}

.dicons {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3vh;
}

.dbtnbox {
  height: 5vh;
}

.svg-weapper-1 {
  width: 100%;
  height: 100%;
}

/* ================ Responsive ================ */

@media (max-width:1564px) {
  .skillimg {
    display: none;
  }

  .skillfull {
    padding: 5vw 5vw 5vw 5vw;
  }
}

@media (max-width:1730px) {
  .svg::before {
    height: 103vh;
    width: 106vh;
    top: -14%;
    left: -13%;
    border-radius: 50%;
    border: 4.8vw solid rgba(255, 255, 255, 0.102);
  }
}

@media (max-width:1600px) {
  .svg::before {
    height: 94vh;
    width: 96vh;
    top: -14%;
    left: -11%;
    border-radius: 50%;
    border: 4.8vw solid rgba(255, 255, 255, 0.102);
  }
}

@media (max-width: 1480px) {
  .svg::before {
    height: 94vh;
    width: 97vh;
    top: -14%;
    left: -12%;
    border-radius: 50%;
    border: 4.8vw solid rgba(255, 255, 255, 0.102);
  }
}

@media (max-width: 1411px) {
  .svg::before {
    height: 96vh;
    width: 98vh;
    top: -14%;
    left: -16%;
    border-radius: 50%;
    border: 4.8vw solid rgba(255, 255, 255, 0.102);
  }

  /* .about .svg {
    width: 100px;
  } */

}

@media (max-width: 1359px) {
  .svg::before {
    height: 96vh;
    width: 98vh;
    top: -14%;
    left: -19%;
    border-radius: 50%;
    border: 4.8vw solid rgba(255, 255, 255, 0.102);
  }
}

@media (max-width: 1317px) {
  .svg::before {
    height: 96vh;
    width: 98vh;
    top: -14%;
    left: -22%;
    border-radius: 50%;
    border: 4.8vw solid rgba(255, 255, 255, 0.102);
  }
}

@media (max-width: 1282px){
  .svg::before {
    height: 96vh;
    width: 98vh;
    top: -14%;
    left: -24%;
    border-radius: 50%;
    border: 4.8vw solid rgba(255, 255, 255, 0.102);
  }
}

@media (max-width: 774px) {
  .content {
    align-items: flex-start;
  }

  .logos {
    margin-top: 10vw;
    width: 90vw;
  }

  .description {
    display: none;
  }
  
  .mainarea {
    margin-top: 4vw;
    margin-bottom: 1.5vw;
    font-size: 21px;
  }
  
  .paragraph {
    font-size: 18px;
    display: block;
  }
}

@media (max-width: 657px){
  .mainarea {
    margin-top: 3.5vw;
    margin-bottom: 1.5vw;
    font-size: 19px;
  }
  
  .paragraph {
    font-size: 16px;
  }
}

@media (max-width:530px){
  .myskills {
    font-size: 20px;
  }

  .expertise {
    font-size: 30px;
  }
}

@media (max-width:594px){
  .mainarea {
    font-size: 18px;
  }
}

@media (max-width: 1468px){
  #projects {
    height: 156vh;
  }
}

@media (max-width: 450px){
  .myskills {
    font-size: 14px;
  }

  .expertise {
    font-size: 25px;
  }
  .mainarea {
    font-size: 16px;
  }
  
  .paragraph {
    font-size: 14px;
  }

  .page {
    margin-top: 25px;
  }

  .card-container {
    margin-top: 2vw;
  }

  .btn {
    margin-top: 9px;
  }



}

@media (max-width: 947px){
  .heading {
    font-size: 30px;
  }

  .card {
    width: 390px;
  }

  .card img {
    height: 275px;
  }

  #projects {
    height: 140vh;
  }
}

@media (max-width: 829px){
  .card {
    width: 347px;
  }

  .card img {
    height: 245px;
  }

  #projects {
    height: 130vh;
  }

  .card-content {
    padding: 12px 26.4px 26.4px 26.4px;
  }

  .card-content h3 {
    font-size: 20px;
  }
}

@media (max-width: 745px){
  .card {
    width: 300px;
  }

  .card img {
    height: 200px;
  }

  .btn {
    font-size: 13px;
  }

  #projects {
    height: 113vh;
  }

  .card-content h3 {
    font-size: 20px;
    margin-bottom: 4px;
  }

  .card-content {
    padding: 6px 20px 20px 20px;
    font-size: 11.85px;
}

  #projects {
    height: 107vh;
  }

  .card-container {
    margin-top: 2.1vw;
  
  }

  .btn {
    margin-top: 1.4vw;
  }

}

@media (max-width: 638px){
  #projects {
    height: 150vh;
  }
}

@media (max-width: 500px){
  .card {
    margin: 3.5vw;
  }

  #projects {
    height: 150vh;
  }
  
}